---
title: Initiatives, Goldhirsh Foundation
layout: default
---

<div class="row">
  <div class="span12">
    <h1 class="title">Initiatives</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1 class="initiatives-projects-subtitle">Here&rsquo;s a glimpse of some of the organizations and specific projects we support.</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>We invest our capital using three approaches to create systemic change: <strong>civic capital</strong>, <strong>seed capital</strong>, and <strong>expansion capital</strong>.</p>
    <!-------------------------------------------------------------------------- New Fields -->
  </div>
</div>
<div class="row initiatives-services">
  <div class="span4 initiatives initiatives-opportunity">
    <h4>CIVIC CAPITAL</h4>
    <p>Promoting mobilization and disruption within existing infrastructures.</p>
  </div>
  <div class="span4 initiatives-sustainability">
    <h4>SEED CAPITAL</h4>
    <p>Seeding social innovation in Los Angeles.</p>
  </div>
  <div class="span4 initiatives-activation">
    <h4>EXPANSION CAPITAL</h4>
    <p>Bringing proven solutions from other regions to Los Angeles.</p>
  </div>
</div>

<div class="row initiatives-organizations">

  {% assign collection_name = "capital" %}

  {% comment %} Get data from a spreadsheet {% endcomment %}
  {% assign data_list = site.data[collection_name] %}

  {% comment %} If a spreadsheet doesn’t exist, use markdown files instead {% endcomment %}
  {% unless data_list and data_list.size > 0 %}
    {% assign data_collection = site.collections | where: "label", collection_name | first %}
    {% assign data_list = data_collection.docs | sort: "position" %}
  {% endunless %}

  <div class="span4 initiatives-opportunity">

    {% for data in data_list %}
      {% if data.categories.first == "civic" %}
        <div class="row initiatives-projects">
          <div class="span4 initiatives-project">
            <h4><a href="{{ data.details_url }}">{{ data.title }}</a></h4>
            <h5>{{ data.project }}</h5>
            <hr>
            {{ data.content }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <div class="span4 initiatatives-sustainability">

    {% for data in data_list %}
      {% if data.categories.first == "seed" %}
        <div class="row initiatives-projects">
          <div class="span4 initiatives-project">
            <h4><a href="{{ data.details_url }}">{{ data.title }}</a></h4>
            <h5>{{ data.project }}</h5>
            <hr>
            {{ data.content }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <div class="span4 initiatives-activation">

    {% for data in data_list %}
      {% if data.categories.first == "expansion" %}
        <div class="row initiatives-projects">
          <div class="span4 initiatives-project">
            <h4><a href="{{ data.details_url }}">{{ data.title }}</a></h4>
            <h5>{{ data.project }}</h5>
            <hr>
            {{ data.content }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>

<div class="row">
</div>
<div class="row">
  <div class="span12 initiatives-rule">
    <hr>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>We support initiatives in three categories: <strong>opportunity</strong>, <strong>sustainability</strong>, and <strong>activation</strong>. Within each category, organizations deliver the following vital services:</p>
  </div>
</div>
<div class="row initiatives-services">
  <div class="span4 initiatives initiatives-opportunity">
    <div class="services-graphic">
      <img src="/assets/img/initiatives_telescope@x2.png" alt="">
    </div>
    <h4>OPPORTUNITY</h4>
    <p>Provide skills, programming, and support structures to improve educational and economic opportunity.
    </p>
    <!-------------------------------------------------------------------------- New Fields -->
  </div>
  <div class="span4 initiatives-sustainability">
    <div class="services-graphic">
      <img src="/assets/img/initiatives_sunburst@x2.png" alt="">
    </div>
    <h4>SUSTAINABILITY</h4>
    <p>Pursue environmental health through innovation at both the cause and response sides of the issue. </p>
    <!-------------------------------------------------------------------------- New Fields -->
  </div>
  <div class="span4 initiatives-activation">
    <div class="services-graphic">
      <img src="/assets/img/initiatives_bolt@x2.png" alt="">
    </div>
    <h4>ACTIVATION</h4>
    <p>Support pro-social platforms and tools for independent expression and individual mobilization.</p>
    <!-------------------------------------------------------------------------- New Fields -->
  </div>
</div>
<div class="row initiatives-organizations">

  {% assign collection_name = "initiatives" %}

  {% comment %} Get data from a spreadsheet {% endcomment %}
  {% assign data_list = site.data[collection_name] %}

  {% comment %} If a spreadsheet doesn’t exist, use markdown files instead {% endcomment %}
  {% unless data_list and data_list.size > 0 %}
    {% assign data_collection = site.collections | where: "label", collection_name | first %}
    {% assign data_list = data_collection.docs | sort: "position" %}
  {% endunless %}

  <div class="span4 initiatives-opportunity">

    {% for data in data_list %}
      {% if data.categories.first == "opportunity" %}
        <div class="row initiatives-organization">
          <div class="span4">
            <h4><a href="{{ data.details_url }}">{{ data.title }}</a></h4>
            <p>{{ data.content | strip_html }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <div class="span4 initiatatives-sustainability">

    {% for data in data_list %}
      {% if data.categories.first == "sustainability" %}
        <div class="row initiatives-organization">
          <div class="span4">
            <h4><a href="{{ data.details_url }}">{{ data.title }}</a></h4>
            <p>{{ data.content | strip_html }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <div class="span4 initiatives-activation">

    {% for data in data_list %}
      {% if data.categories.first == "activation" %}
        <div class="row initiatives-organization">
          <div class="span4">
            <h4><a href="{{ data.details_url }}">{{ data.title }}</a></h4>
            <p>{{ data.content | strip_html }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
