---
title: Resources, Goldhirsh Foundation
layout: default
---

<div class="row">
  <div class="span12">
    <h2 class="title">Financial Capital Opportunities</h2>
    <h4>Amplifying opportunities for social innovation</h4>
    <div id="three-column-table" class="three-column-table clearfix">
      <div class="table-row table-head clearfix">
        <div class="col-md-3">Organization</div>
        <div class="col-md-3">Description</div>
        <div class="col-md-3">Deadline</div>
      </div>
      <div class="table-content">

        {% assign collection_name = "opportunities" %}

        {% comment %} Get data from a spreadsheet {% endcomment %}
        {% assign data_list = site.data[collection_name] %}

        {% comment %} If a spreadsheet doesn’t exist, use markdown files instead {% endcomment %}
        {% unless data_list and data_list.size > 0 %}
          {% assign data_collection = site.collections | where: "label", collection_name | first %}
          {% assign data_list = data_collection.docs | sort: "position" %}
        {% endunless %}

        {% for data in data_list %}

        <div class="table-row clearfix">
          <div class="col-md-3"><a href="{{ data.details_url }}">{{ data.title }}</a></div>
          <div class="col-md-3">{{ data.content | strip_html }}</div>
          <div class="col-md-3">{{ data.date | date: "%B %-d, %Y" }}</div>
        </div>

        {% endfor %}
      
      </div>
      <div class="table_navigation page_navigation "></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 speaking-engagements">
    <h2 class="title">Speaking Engagements</h2>  
    <h4>Past and Upcoming Team Goldhirsh Speaking Engagements</h4>        
    <div class="pagination-list " id="pagination-list ">
      <div class="pagination-content ">

        {% assign collection_name = "speaking" %}

        {% comment %} Get data from a spreadsheet {% endcomment %}
        {% assign data_list = site.data[collection_name] %}

        {% comment %} If a spreadsheet doesn’t exist, use markdown files instead {% endcomment %}
        {% unless data_list and data_list.size > 0 %}
          {% assign data_collection = site.collections | where: "label", collection_name | first %}
          {% assign data_list = data_collection.docs | sort: "position" %}
        {% endunless %}

        {% for data in data_list %}

        <div class="speaking pagination-item ">
          <div class="press-date pagination-date ">
            {{ data.date | date: "%B" | truncate: 3, "" }}
            <div class="clear"></div>
            <span class="press-day">{{ data.date | date: "%-d" }}</span>
            <div class="clear"></div>
            {{ data.date | date: "%Y" }}
          </div>
          <p class="speaking-text">
            {% if data.details_url %}
              <a href="{{ data.details_url }}">
                {{ data.title }}
              </a>
            {% else %}
              {{ data.title }}
            {% endif %}
          </p>
          <div class="clear "></div>
        </div>

        {% endfor %}

      </div>
      <div class="pag-list page_navigation"></div>
    </div>
  </div>
</div>

<p class="table-break">
  Would you like to add something to the list? Email us at <a href="mailto:team@goldhirshfoundation.org">team@goldhirshfoundation.org.</a>
</p>
<div class="row">
  <div class="span12">
    <h1 class="title">Resources</h1>
  </div>
</div>
<div class="row">
  <div class="span12 resources-text">
    <p>The Goldhirsh Foundation is committed to supporting social <em>innovation</em> in Los Angeles. Below find a number of resources around <em>social innovation</em>, <em>impact investing</em>, and <em>fundraising</em>.</p>
  </div>
</div>
<div class="row">
  <div class="span12 resources-container">
    <div class="row">
      <div class="span4 resources-cta">
        <div class="image-wrapper"><img src="/assets/files/1432//capitol-dev.png" /></div>
        <div class="clear"></div>
        <p class="resources-cta-title">1. Publications around capital development</p>
        <div class="clear"></div>
        <p class="resources-cta-intro">From capital development to crowdsourcing technologies, we are always learning. Here is a list of publications we found helpful.</p>
        <div class="clear"></div>
        <ul>
          <li><a href="https://www.blackrock.com/corporate/en-us/investor-relations/larry-fink-ceo-letter">A Sense of Purpose</a></li>
          <li><a href="http://www.futurecitiesla.org/space_to_lead_focla?utm_campaign=eventfollowup&utm_medium=email&utm_source=futurecities">Space to Lead (2017)</a></li>
          <li><a href="https://www.theopedproject.org/oped-basics/" target="_blank">The Op-Ed Project: Op-Ed Writing Basic Tips and Tricks</a></li>
          <li><a href="http://nymag.com/daily/intelligencer/2017/07/making-voting-more-engaging-might-make-more-people-vote.html" target="_blank">This Might Be the Best Idea for Turning Out More Voters in U.S. Elections (2017)</a></li>
          <li><a href="http://la2050.s3-us-west-1.amazonaws.com/comfy/cms/files/106/files/original/TaraRothToolsforCrowdsourcing.pdf" target="_blank">Crowdsourcing: Practical Insights for Entrepreneurs, Investors, and Philanthropists (2015)</a></li>
          <li><a href="http://www.sonencapital.com/evolution-of-impact.php" target="_blank">Evolution of an Impact Portfolio: From Implementation to Results (2014)</a></li>
          <li><a href="https://durfee.org/durfee-content/uploads/2016/10/Durfee-What-If-Report-FINAL.pdf" target="_blank">Insights from a Decade of Philanthropic R&D (2017)</a></li>
        </ul>
      </div>
      <div class="span4 resources-cta">
        <div class="image-wrapper"><img src="/assets/files/1433//currently-reading.png" /></div>
        <div class="clear"></div>
        <p class="resources-cta-title">2. CURRENTLY READING</p>
        <div class="clear"></div>
        <p class="resources-cta-intro">Our team is always learning and sharing. Here is a list of books we are currently reading. For real-time updates, <a href="https://twitter.com/GoldhirshFdn/goldhirsh-foundation-team/members" target="_blank">follow the team on twitter</a>.</p>
        <div class="clear"></div>
        <ul>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=6170941">The 48 Laws of Power</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=893534792">The Upside of Your Dark Side</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=1100384479">The Rise and Fall of Urban Economies</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=687503806" target="_blank">The End of the Suburbs</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=648914865" target="_blank">Contagious</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=21785586" target="_blank">10 Day MBA</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=1362158604">The Airbnb Story</a></li>
          <li><a href="https://ls2pac.lapl.org/?section=resource&resourceid=25571206">Personal History</a></li>
        </ul>
      </div>
      <div class="span4 resources-cta">
        <div class="image-wrapper"><img src="/assets/files/1434//toolkit.png" /></div>
        <div class="clear"></div>
        <p class="resources-cta-title">3. Innovative tools we love</p>
        <div class="clear"></div>
        <p class="resources-cta-intro">We are constantly learning about new and innovative tools to help nonprofits and for-profits succeed in their latest ventures. Here is a list of tools we love:</p>
        <div class="clear"></div>
        <ul>
          <li><a href="https://spark.adobe.com/">Spark Adobe </a></li>
          <li><a href="https://www.omaze.com">Omaze</a></li>
          <li><a href="https://www.crowdfunder.com">CrowdFunder</a></li>
          <li><a href="https://www.thunderclap.it/">Thunderclap</a></li>
          <li><a href="http://www.impactbase.org">ImpactBase</a></li>
          <li><a href="https://openideo.com">OpenIDEO</a></li>
          <li><a href="https://www.ioby.org">IOBY</a></li>
          <li><a href="http://datausa.io/profile/geo/los-angeles-county-ca/">Data USA: Los Angeles</a>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p class="add-to-list">For inquiries please email us at <a href="mailto:team@goldhirshfoundation.org">team@goldhirshfoundation.org</a>.</p>
  </div>
</div>
