
/*
main {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
*/

.disabled main p strong {
  color: rgb(56, 175, 77); /* @green */
}

/*main p strong {
  font-weight: inherit;
  font-style: italic;
}*/


main img[src*="world"] {
  width: 314px;
  height: auto;
}
main h2[id*="team"] ~ h3 {
  margin-top: 3em;
  margin-bottom: 0;
}




/*main h1 {
  grid-column: 2/3;
}*/


main .image-world + p {
  grid-column: 2/4;
  max-width: 33em;
}
main .image-world + p + p {
  grid-column: 2/3;
}

/*main .image-world ~ p {
  font-size: 1.25em;
}*/

main .image-world + p {
  font-size: 1.25em;
  font-weight: 300; /* @light */
  line-height: inherit;
  margin-bottom: 1.5rem;
}
main .image-world + p strong {
  font-weight: 600; /* @semibold */
}
@media (min-width: 40em) {
  main .image-world + p {
    font-size: 1.618em;
  }
}

main h2[id*="team"] ~ h3 {
  margin: 3rem 1.5rem 0 0;
  grid-column: 1/2;
  grid-row: span 2;
  justify-self: end;
}
main h2[id*="team"] ~ h3 img {
  display: block;
  border-radius: 50%;
  width: 250px;
}
@supports (object-fit: cover) {
  main h2[id*="team"] ~ h3 img {
    height: 250px;
    object-fit: cover;
    object-position: top;
  }
}
main h2[id*="team"] ~ p {
  grid-column: 2/4;
  max-width: 40em;
}
main h2[id*="team"] ~ h3 + p + p {
  align-self: start;
  font-size: 0.875em;
}
main h2[id*="team"] ~ h3 + p + p a {
  display: inline-block;
  background-color: rgb(56, 175, 77); /* @green */
  color: white;
  border-radius: 0.25em;
  padding: 0.375em  0.75em;
  text-decoration: none;
  font-weight: 600; /* @semibold */
}
/*main h2[id*="team"] ~ h3 + p + p a:hover,
main h2[id*="team"] ~ h3 + p + p a:active,
main h2[id*="team"] ~ h3 + p + p a:focus {
  color: black;
}*/

main details,
main dl {
  grid-column: span 3;
}

@media (min-width: 30em) {
  main h2 + p {
    font-size: 1.5em;
    font-weight: 300; /* @light */
    margin-bottom: 1.5rem;
    margin: 0;
  }
}

main h2 + p strong {
  font-weight: 600; /* @semibold */
}
@media (min-width: 40em) {
  main h2 + p {
    font-size: 1.618em;
  }
}

main .image-illustration {
  margin-top: 3em;
  grid-column: 1/-1;
  justify-self: center;
}


@media (min-width: 4000em) {

  main p {
    font-size: 1.25em;
    font-weight: 300; /* @light */
    line-height: inherit;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 40em) {
    .disabled main p {
      font-size: 1.618em;
    }
  }


  main img[src*="world"] {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }

  main h2[id*="team"] {
    margin-bottom: 0;
  }

  main h2[id*="team"] ~ p {
    font-size: inherit;
    font-weight: inherit;
  }

  main h2[id*="team"] ~ h3 {
    clear: both;
    padding-top: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  main h2[id*="team"] ~ h3 img {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  main h2[id*="team"] ~ h3 + p {
    margin-top: 0;
  }
  main h2[id*="team"] ~ h3 + p,
  main h2[id*="team"] ~ h3 + p + p {
    margin-left: calc(250px + 1.5em);
  }


  main h2[id*="team"] ~ hr {
    clear: both;
  }


  main h2[id*="press"] {

  }
  main h2[id*="press"] ~ p {
    font-size: 1.25em;
    font-weight: 300; /* @light */
    line-height: inherit;
    margin-bottom: 1.5rem;
  }
  main h2[id*="press"] ~ p strong {
    font-weight: 600; /* @semibold */
  }
  @media (min-width: 40em) {
    main h2[id*="press"] ~ p {
      font-size: 1.618em;
    }
  }


}





@media (min-width: 60em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
    /*grid-auto-flow: row dense;*/
  }

  main h1 {
    margin-bottom: 0;
  }

  main hr {
    grid-column: 1/-1;
    margin: 0;
    margin-top: calc(3em - 1px);
    margin-bottom: 3em;
  }
  .image-world {
    justify-self: center;
    grid-column: 1/2;
    grid-row: span 2;
    margin-right: 1.5em;
  }

  main p {
    margin: 0;
  }
  main h2[id*="team"] ~ h3 + p {
    margin-top: 3rem;
    align-self: end;
  }
  main h2[id*="team"] ~ p {
    margin: 0;
  }
  main h2 {
    line-height: 1;
  }
  main h2,
  main dl {
    margin: 0;
  }
}


main h2[id*="team"] ~ p a[href*="twitter.com"] svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 0.375em;
}

