
main p strong {
  color: rgb(56, 175, 77); /* @green */
}
main img[src*="world"] {
  width: 314px;
  height: auto;
}
main h2[id*="team"] ~ h3 {
  margin-top: 3em;
  margin-bottom: 0;
}





@media (min-width: 40em) {

  main p {
    font-size: 1.25em;
    font-weight: 300; /* @light */
    line-height: inherit;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 40em) {
    main p {
      font-size: 1.625em;
    }
  }


  main img[src*="world"] {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }

  main h2[id*="team"] {
    margin-bottom: 0;
  }

  main h2[id*="team"] ~ p {
    font-size: inherit;
    font-weight: inherit;
  }

  main h2[id*="team"] ~ h3 {
    clear: both;
    padding-top: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  main h2[id*="team"] ~ h3 img {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  main h2[id*="team"] ~ h3 + p {
    margin-top: 0;
  }
  main h2[id*="team"] ~ h3 + p,
  main h2[id*="team"] ~ h3 + p + p {
    margin-left: calc(250px + 1.5em);
  }


  main h2[id*="team"] ~ hr {
    clear: both;
  }


  main h2[id*="press"] {

  }
  main h2[id*="press"] ~ p {
    font-size: 1.25em;
    font-weight: 300; /* @light */
    line-height: inherit;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 40em) {
    main h2[id*="press"] ~ p {
      font-size: 1.625em;
    }
  }


}



p {
  max-width: 33em;
}

