
/*main {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}*/


main .author {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}


main .body > p:first-child {
  --font-size: 1.5em;
  font-size: var(--font-size);
  line-height: calc(1.5em / var(--font-size));
  margin-top: calc(1.5 / var(--font-size));
  margin-bottom: calc(0.75 / var(--font-size));
  margin-top: 1.5em;
}


@media (min-width: 60em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
  }
  main h1 {
    grid-column: 1/-1;
    margin-bottom: 0;
  }
  main .author {
    grid-column: 1/-1;
    margin-top: 0;
  }
  main .body {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 4.5em;
  }
  main .body > *:not(p) {
    grid-column: 1/-1;
  }
  main .body > p,
  main .body > blockquote {
    max-width: 40em;
    margin: 0;
  }
  main .body > p:nth-child(1) {
    grid-column: 1/-1;
    margin-top: 0em;
  }
  main .body h2 + p {
    margin-top: -2.25em;
    font-size: 1.5em;
    grid-column: 1/-1 !important;
  }
  main .body h3 + dl,
  main .body h2 + dl {
    margin-top: -2.25em;
  }
  main .body dl {
    margin-bottom: 0;
  }
  main .body h3 {
    margin-bottom: 0
  }
  main .body h3 + ul {
    margin-top: -3.75em;
  }
  main .body h3 + p {
    margin-top: -2.25em;
    margin-top: -4.5em;
  }
  main .body ul {
    margin-bottom: 0;
  }
  main .body h2 + h3,
  main .body ul + h3 {
    margin-top: -2.25rem;
  }
  main .body p + h3 {
    margin-top: 0;
  }
  main .body h2 + p + h3 {
    margin-top: 0;
  }
  main .body hr + h2 {
    margin-top: 0;
  }

  main .body > p:nth-child(1) ~ p {
    margin-bottom: -3em;
    grid-column: 1/-1;
  }
  .disabled main .body > p:nth-child(5) {
    border-top: 1px solid rgb(177, 177, 177); /* @aluminum */
    /* padding-top: 1.5em;
    padding-top: calc(1.5em - 1px);
    margin-top: -3em; */
  }
/*  main .body > p:nth-child(4) ~ *:not(p) ~ p {
    margin-bottom: 0;
    grid-column: 1/-1;
  }*/


  main .body > hr ~ p:nth-last-child(3),
  main .body > hr ~ p:nth-last-child(2),
  main .body > hr ~ p:nth-last-child(1) {
    grid-column: 1/-1 !important;
    margin: 0;
  }
  main .body > hr ~ p:nth-last-child(3),
  main .body > hr ~ p:nth-last-child(2) {
    margin-bottom: -3em;
  }
  main hr {
    grid-column: 1/-1;
    margin: 0;
    margin-top: calc(3em - 1px);
    margin-bottom: 3em;
  }

  main h3 + ul {
    margin-top: -2.25em;
  }
/*  main .body > p:nth-child(2),
  main .body > p:nth-child(3) {
    grid-column: 1/2;
  }
  main .body > p:nth-child(4),
  main .body > p:nth-child(5) {
    grid-column: 2/3;
  }
  main .body > p:nth-child(2),
  main .body > p:nth-child(4) {
    grid-row: 2/3;
  }
  main .body > p:nth-child(3),
  main .body > p:nth-child(5) {
    grid-row: 3/4;
  }*/
}





dl {
  margin-top: 0;
}

dt,
dd {
  padding-left: 0;
  margin-left: 0;
}
dt {
  margin-top: 3em;
  font-weight: 600; /* @semibold */
  margin-bottom: 0.375em;
}
dd + dd {
  border-top: 1px solid rgb(177, 177, 177); /* @aluminum */
  padding-top: 0.75em;
  padding-top: calc(0.75em - 1px);
  margin-top: 0.75em;
}

main img {
  margin-top: 3em;
  width: auto;
  height: 4.875em;
  display: block;
}
dt {
  margin-top: 2.25em;
}
dl {
  margin-bottom: 6em;
}

@media (min-width: 40em) {
  dt {
    margin-top: 4.5em;
  }
  dl {
    margin-bottom: 6em;
  }
  dl {
    display: grid;
    /*
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    */
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.25em;
    grid-row-gap: 0;
    grid-auto-flow: row dense;
  }
  dt:nth-of-type(n),
  dt:nth-of-type(n) + dd,
  dt:nth-of-type(n) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(9),
  dt:nth-of-type(9) + dd,
  dt:nth-of-type(9) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(10),
  dt:nth-of-type(10) + dd,
  dt:nth-of-type(10) + dd + dd {
    grid-column: 2/3;
  }


  dt:nth-of-type(1),
  dt:nth-of-type(2) {
    margin-top: 0;
  }
}

@media (min-width: 85em) {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(9),
  dt:nth-of-type(9) + dd,
  dt:nth-of-type(9) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(10),
  dt:nth-of-type(10) + dd,
  dt:nth-of-type(10) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(11),
  dt:nth-of-type(11) + dd,
  dt:nth-of-type(11) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(12),
  dt:nth-of-type(12) + dd,
  dt:nth-of-type(12) + dd + dd {
    grid-column: 3/4;
  }


  dt:nth-of-type(3) {
    margin-top: 0;
  }
}

@media (min-width: 999115em) {
  dl {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 4/5;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 4/5;
  }
  dt:nth-of-type(9),
  dt:nth-of-type(9) + dd,
  dt:nth-of-type(9) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(10),
  dt:nth-of-type(10) + dd,
  dt:nth-of-type(10) + dd + dd {
    grid-column: 2/3;
  }


  dt:nth-of-type(4) {
    margin-top: 0;
  }
}

@media (min-width: 999145em) {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 4/5;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 5/6;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 3/4;
  }


  dt:nth-of-type(5) {
    margin-top: 0;
  }
}
