
/*main {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}*/


main .author {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}


main .body > p:first-child {
  --font-size: 1.5em;
  font-size: var(--font-size);
  line-height: calc(1.5em / var(--font-size));
  margin-top: calc(1.5 / var(--font-size));
  margin-bottom: calc(0.75 / var(--font-size));
  margin-top: 1.5em;
}


@media (min-width: 60em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
    /*grid-auto-flow: row dense;*/
  }
  main h1 {
    grid-column: 1/-1;
    margin-bottom: 0;
  }
  main .author {
    grid-column: 1/2;
    margin-top: 0;
  }
  main .body {
    grid-column: 2/-1;
  }
  main .body *:not(hr) {
    max-width: 40em;
  }
  main .body > p:first-child {
    margin-top: 4.5em;
  }
}

