
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}


h1,
h1.vision-title-center {
  font-family: inherit;
  font-weight: 100; /* @thin */
}

p,
.connect-input,
#connect_message,
label,
#four-column-table,
#three-column-table {
  font-family: inherit;
  font-weight: 300; /* @light */
}

.footer-address,
.vision-capital > div > p,
.vision-capital > div > ul > li > p,
.about-bio-text > p,
.initiatives-project > h5,
.initiatives-project > p,
.initiatives-organization > div > p,
.career_text > p,
.career_list > li > p,
.career_apply_contact > p,
h2.title,
.resources-cta,
.resources-cta li,
.press-text,
.read-more-text {
  font-family: inherit;
  font-weight: 400; /* @regular */
}

h1.title,
h3.subtitle,
#nav li > a,
#footer-nav li > a,
.vision-subtitle-center > .center-text > h3,
.vision-capital > div > h4,
.initiatives-organization > div > h4,
.initiatives-organization > div > h4 > a,
h4,
.resources-text,
.resources-text p,
.resources-cta p,
.resources-cta-title,
.pagination-date,
.speaking-text,
.read-more.press-item-toggle,
.press-title,
.add-to-list,
.table-break,
.green-content,
#four-column-table .table-head,
#three-column-table .table-head {
  font-family: inherit;
  font-weight: 600; /* @semibold */
}

strong,
.footer-mark,
.initiatives-services > div > h4,
.initiatives-feature > h3,
.initiatives-project > h4,
.initiatives-project > h4 > a,
.initiatives-organizations > div > h3,
#connect_submit,
.career_title > h3,
.career_list_title > h3,
.career_apply > h3,
.la2050-social-title > p {
  font-family: inherit;
  font-weight: 700; /* @bold */
}


.home-look > .look-container > h3,
.home-good > .good-container > h1,
.home-goldhirsh > .goldhirsh-container h1,
.home-title h1,
.home-title h3 {
  font-family: inherit;
  font-weight: 400; /* @regular */
}
.home-look > .look-container > h3 > strong,
.home-good > .good-container > h1 > strong,
.home-title h1 strong,
.home-title h3 strong {
  font-family: inherit;
  font-weight: 700; /* @bold */
}
.home-goldhirsh > .goldhirsh-container h1 > strong {
  font-family: inherit;
  font-weight: 800; /* @extrabold */
}




.resources-cta-intro > p {
  line-height: inherit;
}
.resources-cta-intro a {
  text-decoration: underline;
}


.post h1.post-headline {
  font-family: inherit;
  font-weight: 600; /* @semibold */
  font-size: 38px;
  line-height: 38px;
  color: #38af4d;
}

.post .post-body ul {
  font-family: inherit;
  font-weight: 300; /* @light */
  letter-spacing: 1px;
  color: #231f20;
  font-size: 16px;
  line-height: 22px;
}


.post-body p {
  margin-bottom: 22px;
}
.post-body ul {
  margin-bottom: 22px;
}


.post-body h2 {
  font-family: inherit;
  font-weight: 700; /* @bold */
  color: #38af4d;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #38af4d;
  margin-bottom: 22px;
}

.post-body h3 {
  font-family: inherit;
  font-weight: 300; /* @light */
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  font-style: italic;
  margin-top: 22px;
  margin-bottom: 11px;
}

#mc_embed_signup { 
  clear: left;
  font-size: inherit;
  font-family: inherit;
}

