
body {
  background-color: rgb(56, 175, 77); /* @green */
}

main h1 {
  color: inherit;
}


main strong,
header ul a,
header ul a:hover,
header ul a:active,
header ul a:focus {
  color: white;
}

main a,
main a:hover,
main a:active,
main a:focus {
  color: inherit
}

main a strong {
  color: white;
}


main a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0.25em 0.375em 0.125em;
  border: 2px solid;
  line-height: 0.925;

  font-size: 1.25em;
  font-size: 1.5em;
  line-height: inherit;
  font-weight: 300; /* @light */

}
@media (min-width: 40em) {
  main h2 {
    font-size: 2.375em;
  }
}

main a strong {
  font-weight: 800;
  text-transform: uppercase;
}



main p {
  font-size: 1.25em;
  font-weight: 300; /* @light */
  line-height: inherit;
  margin-bottom: 1.5rem;
/*  border-bottom: 2px solid;
  display: table;
  margin-left: auto;
  margin-right: auto;*/
}
@media (min-width: 40em) {
  main p {
    font-size: 1.625em;
  }
}


/*main img {
  width: auto;
  height: 3.875rem;
}*/



main {
  text-align: center;
}

