.home-sun {
	background-image: url('../img/home-sun.png');
}

.home-pragmatists {
	background-image: url('../img/home-bars.png');
}

.home-good>.good-container {
	background-image: url('../img/home-circle.png');
}

.home-funnel {
	background-image: url('../img/home-funnel.png');
}

.home-courage {
	background-image: url('../img/home-bolt.png');
}

.home-innovations {
	background-image: url('../img/home-telescope.png');
}

.home-spacer {
	background-image: url('../img/home-spacer.png');
}

.home-arrow {
	background-image: url('../img/home-arrow-down.png');
}

.home-arrow-long {
	background-image: url('../img/home-arrow-down-long.png');
}

.home-goldhirsh > .goldhirsh-container > h1 {
	margin-top: 16px;
	margin-bottom: 14px;
}

.footer-address {
	letter-spacing: 0px
}

.vision-subtitle-center > .center-text > h3 {
	line-height: 28px;
}

.connect-input {
	line-height: 30px;
}

.la2050-social {
	height: 135px;
}
.social-button {
	background-image: url('../img/social-sprite.png');
}

.footer-social-button {
	background-image: url('../img/footer-social-sprite.png');
}

h1.title {
	display: inline-block;
}

.rule {
	display: block;
}

hr {
	color: #b1b1b1;
	border-color: #b1b1b1;
	display: block;
}
