

main h3 {
  margin-bottom: 6rem;
}


main p {
  font-size: 1.25em;
  font-weight: 300; /* @light */
  line-height: inherit;
  margin-bottom: 1.5rem;
}
@media (min-width: 40em) {
  main p {
    font-size: 1.618em;
  }
}



dl {
  margin-top: 0;
}

dt,
dd {
  padding-left: 0;
  margin-left: 0;
}
dt {
  margin-top: 3em;
  font-weight: 600; /* @semibold */
  margin-bottom: 0.375em;
}
dd + dd {
  border-top: 1px solid rgb(177, 177, 177); /* @aluminum */
  padding-top: 0.75em;
  padding-top: calc(0.75em - 1px);
  margin-top: 0.75em;
}

main img {
  margin-top: 3em;
  width: auto;
  height: 4.875em;
  display: block;
}
dt {
  margin-top: 2.25em;
}
dl {
  margin-bottom: 6em;
}

@media (min-width: 40em) {
  dt {
    margin-top: 4.5em;
  }
  dl {
    margin-bottom: 6em;
  }
  dl {
    display: grid;
    /*
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    */
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.25em;
    grid-row-gap: 0;
    grid-auto-flow: row dense;
  }
  dt:nth-of-type(n),
  dt:nth-of-type(n) + dd,
  dt:nth-of-type(n) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 2/3;
  }
}

@media (min-width: 85em) {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 2/3;
  }
}

@media (min-width: 115em) {
  dl {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 4/5;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 4/5;
  }
}

@media (min-width: 145em) {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  dt:nth-of-type(1),
  dt:nth-of-type(1) + dd,
  dt:nth-of-type(1) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2),
  dt:nth-of-type(2) + dd,
  dt:nth-of-type(2) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3),
  dt:nth-of-type(3) + dd,
  dt:nth-of-type(3) + dd + dd {
    grid-column: 3/4;
  }
  dt:nth-of-type(4),
  dt:nth-of-type(4) + dd,
  dt:nth-of-type(4) + dd + dd {
    grid-column: 4/5;
  }
  dt:nth-of-type(5),
  dt:nth-of-type(5) + dd,
  dt:nth-of-type(5) + dd + dd {
    grid-column: 5/6;
  }
  dt:nth-of-type(6),
  dt:nth-of-type(6) + dd,
  dt:nth-of-type(6) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(7),
  dt:nth-of-type(7) + dd,
  dt:nth-of-type(7) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(8),
  dt:nth-of-type(8) + dd,
  dt:nth-of-type(8) + dd + dd {
    grid-column: 3/4;
  }
}

main h2 {
  max-width: 20em;
}
main h3 {
  max-width: 30em;
}




@media (min-width: 60em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
    /*grid-auto-flow: row dense;*/
  }

  main h1 {
    margin-bottom: 0;
  }

  main hr {
    grid-column: 1/-1;
    margin: 0;
    margin-top: calc(3em - 1px);
    margin-bottom: 3em;
  }
  main hr + h3 {
    margin-top: 0;
  }
  main h3 {
    margin-bottom: 0;
  }

  main p {
    margin: 0;
  }
  main h2[id*="team"] ~ h3 + p {
    margin-top: 3rem;
    align-self: end;
  }
  main h2[id*="team"] ~ p {
    margin: 0;
  }
  main h2 {
    line-height: 1;
  }
  main h2,
  main dl {
    margin: 0;
  }

  main h1 {
    grid-column: 1/-1;
  }
  main h1 + p,
  main h1 + p + h3 {
    margin: 0;
    grid-column: 1/-1;
    max-width: 33em;
  }

  main h1 + p {
    grid-column: 1/4;
    max-width: none;
  }

  main dl {
    grid-column: span 3;
  }
  main h2,
  main h3,
  main h4 {
    grid-column: 1/-1;
  }
  main h4 {
    margin-top: 4.5rem;
    grid-column: 1/2;
    margin-bottom: 0;
  }
  main h4 + p {
    margin-top: -1.5rem;
    grid-column: 1/-1;
    margin-bottom: 1.5rem;
  }
  main h4 + p + dl dt:nth-of-type(1),
  main h4 + p + dl dt:nth-of-type(2),
  main h4 + p + dl dt:nth-of-type(3) {
    margin-top: 0;
  }

  main .image {
    /*position: relative;*/
    margin: 0;
  }
  main .image img {
    /*order: 1;*/
   /* position: absolute;*/
  }
  main .image + h4 {
    margin-top: 0;
  }
  main .image + h4 + p {
    max-width: 33em;
    /*margin-top: -2.25rem;*/
  }
/*  main .image + h4,
  main .image + h4 + p {
    margin-left: 9rem;
  }*/
  main h4 {
    grid-column: 1/-1;
  }
  main h4 + p {
    grid-column: 1/-1;
  }
  main dl {
    grid-column: 1/-1;
  }

}

