
dl {
  margin-top: 0;
}

dt,
dd {
  padding-left: 0;
  margin-left: 0;
}
dt {
  margin-top: 3em;
  font-weight: 600; /* @semibold */
  margin-bottom: 0.375em;
}
dd + dd {
  border-top: 1px solid rgb(177, 177, 177); /* @aluminum */
  padding-top: 0.75em;
  padding-top: calc(0.75em - 1px);
  margin-top: 0.75em;
}

main img {
  margin-top: 3em;
  width: auto;
  height: 4.875em;
  display: block;
}

@media (min-width: 40em) {
  dl {
    display: grid;
    /*
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    */
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0;
    grid-auto-flow: row dense;
  }
/*  dt {
    grid-row: 1/2;
  }
  dt + dd {
    grid-row: 2/3;
  }
  dd + dd {
    grid-row: 3/4;
  }*/
  dt {
    margin-top: 3em;
  }
  dl {
    margin-bottom: 6em;
  }
  dt:nth-of-type(1n),
  dt:nth-of-type(1n) + dd,
  dt:nth-of-type(1n) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2n),
  dt:nth-of-type(2n) + dd,
  dt:nth-of-type(2n) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3n),
  dt:nth-of-type(3n) + dd,
  dt:nth-of-type(3n) + dd + dd {
    grid-column: 3/4;
  }
}
