
dt {
  font-weight: 600; /* @semibold */
}
dl:nth-of-type(1) dt + dd {
  border-bottom: 1px solid rgb(177, 177, 177);
  padding-bottom: 0.75em;
}

main img {
  margin-top: 3em;
  width: auto;
  height: 5em;
  float: left;
  margin-right: 3em;
}

@media (min-width: 40em) {
  dl {
    display: grid;
    /*
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    */
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0.75em;
    grid-auto-flow: row dense;
  }
  dt,
  dd {
    padding: 0;
    margin: 0;
  }
/*  dt {
    grid-row: 1/2;
  }
  dt + dd {
    grid-row: 2/3;
  }
  dd + dd {
    grid-row: 3/4;
  }*/
  dt {
    margin-top: 3em;
  }
  dl {
    margin-bottom: 4.5em;
  }
  dt:nth-of-type(1n),
  dt:nth-of-type(1n) + dd,
  dt:nth-of-type(1n) + dd + dd {
    grid-column: 1/2;
  }
  dt:nth-of-type(2n),
  dt:nth-of-type(2n) + dd,
  dt:nth-of-type(2n) + dd + dd {
    grid-column: 2/3;
  }
  dt:nth-of-type(3n),
  dt:nth-of-type(3n) + dd,
  dt:nth-of-type(3n) + dd + dd {
    grid-column: 3/4;
  }
}
