

/*main {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
*/

main p strong {
  color: rgb(56, 175, 77); /* @green */
}
main img[src*="world"] {
  width: 314px;
  height: auto;
}
main h2[id*="team"] ~ h3 {
  margin-top: 3em;
  margin-bottom: 0;
}





main p {
  font-size: 1.25em;
  font-weight: 300; /* @light */
  line-height: inherit;
  margin-bottom: 1.5rem;
}
main p strong {
  font-weight: 600; /* @semibold */
}
@media (min-width: 40em) {
  main p {
    font-size: 1.618em;
  }
}

