body { 
	padding-right: 0px;
	padding-left: 0px;
	min-width: 480px;
}


.container {
	margin-left: 20px;
}
.row { margin-left: -20px; }

[class*="span"] {
	margin-left: 20px;
	margin-right: 20px;
}

/* nav */

#ghf-logo {
	width: 146px;
	height: 47px;
}

#nav > li > a {
	font-size: 12px;
	padding-top: 0;
}
#nav > li > a:hover {
	padding-top: 0;
}
.current > a {
	padding-top: 0;
}

.nav-vision { 
	width: 16%;
}

// .nav-home {
// 	width: 32%;
// 	margin-left: 4px;
// 	margin-right: -8px;
// }

// #nav li.nav-home>a:hover {
// 	padding-top: 0px;
// }

#nav	{
	overflow: visible;
	text-align: center;
}	

#nav li {
	float: none;
	margin-left: 0;
	width: auto;
	display: inline-block;
	padding: 0 1%;

	&:first-child	{
		margin: 0 auto;
		width: 100%;
		clear: both;
		display: block;
		padding: 0 0 5% 0;
	}

	& > a	{
		padding-top: 0;
		height: 100%;
	}
}

#ghf-logo	{
	max-width: 100%;
	height: auto;
}

.nav-initiatives { 
	width: 18%;
}

.nav-initiatives > a {
	margin: 0px 0px 0px -5px;
}

.nav-about {
	width: 20%;
}

.nav-about>a {
	margin: 0px 0px 0px -5px;
}

.nav-connect {
	width: 16%;
}

.nav-la2050 {
	width: 14%;
}
/* home */

.home-idealists {
	width: auto;
	text-align: center;
}

.home-pragmatists {
	width: auto;
	text-align: center;
	background-image: none;
}

.home-look>.look-container {
	background-image: none;
	border: solid;
	border-width: 2px;
	border-color: $homedark;
	position: relative;
	width: 396px;
}

.home-look>.look-container:before {
	content: " ";
	display: block;
	background-color: $lightgreen;
	width: 36px;
	height: 4px;
	position: absolute;	
	left: 50%;
	margin-left: -18px;
	top: -3px; 
}

.home-look>.look-container:after {
	content: " ";
	display: block;
	background-color: $lightgreen;
	width: 36px;
	height: 4px;
	position: absolute;	
	left: 50%;
	margin-left: -18px;
	bottom: -3px;
}

.home-look>.look-container>h3 {
	font-size: 28px;
}

.home-good>.good-container {
	height: 123px;
	background-size: 124px 123px;
}


.home-good>.good-container>h1 {
	line-height: 30px;
	font-size: 30px;
	padding-top: 45px;
	margin-left: -30px;
}

.home-courage {
	background-image: none;
	width: 340px;
	margin: -53px auto 30px auto;
}

.home-courage>h3 {
	text-align: center;
	padding: 0px
}

.home-innovations {
	margin: -101px auto 40px auto;
	background-image: none;
}

.home-innovations>h3 {
	text-align: center;
	padding: 0px;
}

.home-goldhirsh > .goldhirsh-container {
	width: 430px;
}

.home-goldhirsh > .goldhirsh-container:before {
	content: " ";
	display: block;
	background-color: $lightgreen;
	width: 36px;
	height: 4px;
	position: absolute;	
	left: 50%;
	margin-left: -18px;
	top: -3px;
}

.home-goldhirsh > .goldhirsh-container>a>h1 {
	font-size: 26px;
	line-height: 26px;
}

.vision-lattice { display: none !important; }
.vision-tools { display: none !important; }

.vision-innovations {
	width: auto !important;
}

.vision-title-center {
	font-size: 24px;
}

.vision-title > .left-rule > hr {
	margin-top: 44px;
	margin-right: 00px;
}
.vision-title > .right-rule > hr {
	margin-top: 44px;
	margin-left: 00px;
}

.vision-networks {
	margin-top: 11px;
}

.vision-networks>p {
	padding-left: 0px;
}

/* footer */

#footer, .wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.footer-address {
	display: none;
}

#footer-nav>li {
	line-height: 10px;
}

#footer-nav>li>a {
	margin-top: 0px;
}

.footer-contact {
	margin-left: 0px;
}

.footer-nav {
	margin-left: 0px;
}
.footer-social {
	margin-left: 0px;
}

/* vision */

.vision-tools > img {
	margin-left: 30px;
}

.vision-title > .left-rule > hr {
	margin-top: 10px;
	margin-right: 0px;
}

.vision-title > .right-rule > hr {
	margin-top: 10px;
	margin-left: 0px;
}

.vision-subtitle-center > .left-rule, .vision-subtitle-center > .right-rule {
	width: auto;
	margin: 14px 20px
}

.vision-subtitle-center > .right-rule > hr {
	margin-top: 0px;
}

.vision-subtitle-center > .center-text {
	margin-top: 18px;
	line-height: 14px;
	width: auto;
}

.vision-capital > div {
	width: auto;
}

/* initiatives */

.initiatives-feature-graphic > img {
	height: auto;
	width: 100%; 
}

h1.vision-title-center { 
	font-size: 32px;
	line-height: 42px;
}

.services-graphic {
	display: none;
	height: 140px;
}

.initiatives-services {
	margin-bottom: 39px;
}

.initiatives-services>div {
	margin-bottom: 40px;
}

.vision-smart > p {
	padding-left: 0px;
	padding-top: 0px;
}

/* about */

.about-text-graphic {
	margin: 0px 25px 25px 0px;
}

.about-text-graphic > img {
	width: 235px;
	height: 165px;
}

.about-bio-image {
	float: left;
}

.about-bio-image > img {
	width: 228px;
	height: 228px;
}

/* connect */
.connect-input {
	width: 317px;

}

.connect-message-container {
	margin-right: 32px;
}

.connect-input {
	margin-bottom: 10px;
	width: 350px;
}

#connect_message {
	width: 100% ; 
	margin-left: 0px !important;
}

/* la2050 */

.la2050-social-buttons>ul {
	list-style: none;
	display: inline-block;
	margin-top: 27px;
	margin-left: 0px;
	float: left;
	overflow: hidden;
}

.la2050-social-buttons>ul>li {
	margin-left: 0px;
	margin-right: 10px;
}

/* footer */

#footer-nav {
	float: left;
}

#footer-nav li {
	padding-left: 0px;
	padding-right: 20px;
}
