
.disabled main p strong {
  color: rgb(56, 175, 77); /* @green */
}

main p {
  font-size: 1.25em;
  font-weight: 300; /* @light */
  line-height: inherit;
  margin-bottom: 1.5rem;
}
main p strong {
  font-weight: 600; /* @semibold */
}
@media (min-width: 40em) {
  main p {
    font-size: 1.618em;
  }
}


main dd {
  font-size: 1.25em;
  line-height: inherit;
}


dt,
dd {
  margin-left: 0;
  padding-left: 0;
}


dt {
  margin-top: 3rem;
  color: rgb(149, 149, 149);
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; /* @semibold */
}
dt strong {
  font-size: 2em;
  display: block;
  font-weight: inherit;
}
dt + dd {
  margin-top: 3rem;
}



dt {
  margin-top: 3rem;
  color: rgb(149, 149, 149);
  font-size: 1.618em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; /* @semibold */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
dd {
  max-width: 40em;
}
dt strong {
  font-size: 2.375em;
  display: block;
  font-weight: inherit;
}



@media (min-width: 40em) {
  dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.5em;
  }
  dt {
    grid-column: 1/2;
    justify-self: end;
    padding-right: 1.5rem;
  }
  dd {
    grid-column: 2/3;
    align-self: center;
  }
}


ul {
  margin-bottom: 6em;
}



.tools li + li {
  margin-top: 0.75em;
}



@media (min-width: 60em) {
  main hr {
    grid-column: 1/-1;
    margin: 0;
    margin-top: calc(3em - 1px);
    margin-bottom: 3em;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
    /*grid-auto-flow: row dense;*/
  }
  main table {
    grid-column: 1/-1;
  }
  main h1 {
    margin-bottom: 0;
  }
  main h1 + p {
    margin-top: 0;
  }
  main h2 {
    margin-bottom: 0;
  }
  main h2 + h3 {
    margin-top: -2.25rem;
  }
  main h4 {
    margin-top: -2.25rem;
    margin-bottom: 0;
  }
  main h4 + p {
    margin-top: -1.5rem;
    margin-bottom: 0rem;
    max-width: 33em;
  }
  main table {
    margin-top: 0;
  }
  main h2,
  main h3,
  main h4,
  main p,
  main dl,
  main details {
    grid-column: 1/-1;
  },
  main ul {
    margin: 0;
    padding-left: 0;
  }

  .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
    grid-column: 1/-1;
  }
  .tools .image {
    grid-row: 1/2;
    grid-column: auto;
    padding-right: 1.5rem;
  }
  .tools .image img {
    width: auto;
    height: auto;
  }
  .tools h4 {
    grid-row: 2/3;
    grid-column: auto;
    margin-right: 3rem;
    padding-bottom: 0;
    border-bottom-width: 0;
    margin-bottom: 0;
  }
  .tools p {
    margin-top: -2.25rem;
    border-top: 1px solid rgb(177, 177, 177);
    padding-top: calc(0.75em - 1px);
    grid-row: 3/4;
    grid-column: auto;
    padding-right: 3rem;
  }
  .tools ul {
    margin-top: -2.25rem;
    grid-row: 4/5;
    grid-column: auto;
    padding-left: 0;
    padding-right: 3rem;
  }

}

