


body {
/*  background-image: linear-gradient(to right, transparent, transparent calc(1.5em - 1px), rgba(0, 0, 0, 0.1) 1.5em),
                    linear-gradient(to bottom, transparent, transparent calc(1.5em - 1px), rgba(0, 0, 0, 0.1) 1.5em);
  background-size: 1.5em auto, auto 1.5em;
  background-repeat: repeat;*/
/*  background-image: linear-gradient(to bottom, transparent, transparent calc(1.5em - 1px), rgba(0, 0, 0, 0.1) 1.5em);
  background-size: auto 1.5em;
  background-repeat: repeat;*/
}

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  font-size: calc(0.875em + 0.5vmin);
  line-height: 1.5;
  padding: 1.5em;
  margin: 0;
  background-color: rgb(253, 255, 254);
  color: rgb(31, 35, 32);
}

@media (min-width: 70em) {
  body {
    padding: 3em;
    padding: 3em 16.18vmin;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, form, hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

a {
  color: rgb(56, 175, 77); /* @green */
  transition: color 0.2s;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border-width: 0;
  border-bottom: 1px solid rgb(177, 177, 177); /* @aluminum */
  padding-bottom: 1.5em;
  padding-bottom: calc(1.5em - 1px);
  margin-top: calc(1.5em - 1px);
  margin-bottom: 0; 
}

header,
footer {
  text-align: center;
}
header ul,
header li,
footer ul,
footer li {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
header ul,
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header ul a,
footer ul a {
  display: inline-block;
  padding: 0.75em;
  text-decoration: none;
  font-weight: 600; /* @semibold */
  text-transform: uppercase;
  letter-spacing: 0.0625em; /* 1px / 16px */
  color: rgb(177, 177, 177); /* @aluminum */
}
header ul a:hover,
header ul a:active,
header ul a:focus,
footer ul a:hover,
footer ul a:active,
footer ul a:focus {
  color: rgb(56, 175, 77); /* @green */
  text-decoration: underline;
}
header ul .current a,
footer ul .current a {
  text-decoration: underline;
}


header h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
}
header h2 a,
header h2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header h2 img {
  padding-top: 0.1875em;
  padding-bottom: 0.1875em;
  height: 2.625em; /* 168px / 4 / 16 */
  width: auto;
}

footer {
  background-color: rgb(240, 240, 241);
  color: rgb(31, 35, 32);
  padding: 1.5em;
  margin: 4.5em -1.5em -1.5em;
}
@media (min-width: 70em) {
  footer {
    padding: 3em;
    padding: 6em 16.18vmin;
    margin: 9em -3em -3em;
    margin: 9em -16.18vmin -3em;
  }
}
footer h2 a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800; /* @extrabold */
}
footer h2 {
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
}
footer h2 + p {
  margin-top: 0;
}

/*
header h2 {
  font-weight: 800;
}
header h2 .f {
  margin-left: 0.0625em;
  margin-right: 0.0625em;
}
header h2 a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0.25em 0.375em 0.125em;
  border: 0.25em solid;
  text-transform: uppercase;
  line-height: 0.925;
}
*/



@media (min-width: 70em) {
  header,
  footer {
    text-align: left;
  }
  header {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1.5em;
  }
  header h2,
  header ul {
    align-self: center;
  }
  header h2 {
    margin-bottom: 0;
  }
  header ul {
    justify-content: flex-end;
  }
  footer {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    grid-auto-flow: row dense;
  }
  footer h2,
  footer p {
    grid-column: 1/2;
    align-self: center;
    margin: 0;
  }
  footer ul {
    align-self: center;
    margin: 0;
    grid-column: -2/-1;
    justify-content: flex-end;
  }
}



main h1 {
  font-size: 1.5em;
  font-weight: 600; /* @semibold */
  line-height: inherit;
  margin-top: 2.25em;
  padding-bottom: 0.75em;
  padding-bottom: calc(0.75em - 1px);
  border-bottom: 1px solid rgb(177, 177, 177); /* @aluminum */
  margin-bottom: 0;

  color: rgb(56, 175, 77); /* @green */
  display: table;
}
@media (min-width: 40em) {
  main h1 {
    font-size: 2.375em;
  }
}
main h2 {
  font-size: 1.25em;
  font-size: 1.5em;
  line-height: inherit;
  font-weight: 300; /* @light */
  margin-bottom: 4.5rem;

  color: rgb(56, 175, 77); /* @green */
  max-width: 20em;
}
@media (min-width: 40em) {
  main h2 {
    font-size: 1.625em;
    font-size: 2.375em;
  }
}
main h3 {
  font-size: 1.25em;
  font-weight: 300; /* @light */
  line-height: inherit;
  margin-bottom: 1.5rem;
  max-width: 30em;
}
@media (min-width: 40em) {
  main h3 {
    font-size: 1.625em;
  }
}
main h3 a {
  font-weight: 600; /* @semibold */
}
main h4 {
  text-transform: uppercase;
  letter-spacing: 0.0625em; /* 1px / 16px */
  border-bottom: 1px solid rgb(177, 177, 177);
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.4;
  padding-bottom: 1em;
  margin-bottom: 1em;
  color: rgb(56, 175, 77); /* @green */

  font-size: inherit;
  line-height: inherit;
  padding-bottom: 0.75em;
  padding-bottom: calc(0.75em - 1px);
  margin-bottom: 0.75em;


  font-size: 1.25em;
  display: table;
}
main h4 + p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 300; /* @light */

  font-size: inherit;
  line-height: inherit;

  font-size: 1.25em;
}


.phrase {
  display: inline-block;
}
