

table {
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  border-collapse: collapse;
}

thead th {
  text-transform: uppercase;
  font-weight: 600; /* @semibold */
  letter-spacing: 0.0625em; /* 1px / 16px */
  white-space: nowrap;
}

tbody th,
tbody td {
  border-top: 1px solid rgb(177, 177, 177); /* @aluminum */
}

th,
td {
  text-align: left;
  padding: 1.5em 1.5em;
  vertical-align: top;
}
th:first-child {
  padding-left: 0;
}
td:last-child {
  padding-right: 0;
}

/* OPTIONAL: Make table easier to read on small screens */
@media (max-width: 60em) {
  table, tbody, thead, tr, th, td {
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  thead {
    position: absolute;
    opacity: 0;
    font-size: 1px;
  }
  tbody th:not(:first-child), td:not(:first-child) {
    padding-top: 0;
    border-top: none;
  }
  tbody th:not(:last-child), td:not(:last-child) {
    padding-bottom: 0;
  }
  tbody th:last-child, tbody td:last-child {
    padding-top: 0.75em;
  }
}
