<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}{% unless page.title contains "Goldhirsh Foundation" %}, Goldhirsh Foundation {% endunless %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The Goldhirsh Foundation connects the dots between the best emerging innovations and the financial, social, and human capital to make them thrive.">
  <meta name="keywords" content="foundation, innovation, innovator, sustainability, activation, opportunity, goldhirsh">
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/a3879324-0676-4a49-a21e-a021934d1a6a.css" />
  <link href="/assets/css/bootstrap_custom.min.css" rel="stylesheet">
  <link href="/assets/css/ghf.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <link href="/assets/css/ie.css" rel="stylesheet">
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <meta name="google-site-verification" content="OQbPN7vmr5v69iC3FhivQ0A9CFdLojFYziRCCnHoqLg" />
</head>

<body class="page-{{ page.url | replace: '/', '' }}{% if page.url == '/'' %}home{% endif %}">
  <div class="wrap">
    <div id="main" class="container">

      <div class="row">
        <div class="span12 nav-container">
          <div id="mobile-logo" class="hidden">
            <a href="/"><img src="/assets/img/ghf-logo-dark@x2.png" alt="GOLDHIRSH FOUNDATION" id="ghf-logo-mobile"></a>
          </div>

          <ul id="nav">
            <li class="nav-home">
              <a href="/">
                <img src="/assets/img/ghf-logo-{% if page.url == '/' %}light{% else %}dark{% endif %}@x2.png" alt="GOLDHIRSH FOUNDATION" id="ghf-logo">
              </a>
            </li>
            <li class=" nav-vision {% if page.url == '/vision/' %} current {% endif %}">
              <a href="/vision/">Vision</a>
            </li>
            <li class=" nav-initiatives {% if page.url == '/initiatives/' %} current {% endif %}">
              <a href="/initiatives/">Initiatives</a>
            </li>
            <li class=" nav-about {% if page.url == '/about/' %} current {% endif %}">
              <a href="/about/">About</a>
            </li>
            <li class=" nav-la2050 {% if page.url == '/la2050/' %} current {% endif %}">
              <a href="/la2050/">LA2050</a>
            </li>
            <li class=" nav-resources {% if page.url == '/resources/' %} current {% endif %}">
              <a href="/resources/">Resources</a>
            </li>
            <li class=" nav-jobs {% if page.url == '/jobs/' %} current {% endif %}">
              <a href="/jobs/">Jobs</a>
            </li>
            <li class=" nav-blog {% if page.url == '/blog/' %} current {% endif %}">
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </div>

      {{ content }}

    </div>
    <!-- /container -->
    <div class="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="row footer-container">
        <div class="span4 footer-contact">
          <p class="footer-mark">THE GOLDHIRSH FOUNDATION</p>
          <p class="footer-address">6380 WILSHIRE BOULEVARD, 15TH FLOOR, LOS ANGELES, CA 90048</p>
        </div>
        <div class="span8 footer-nav">
          <ul id="footer-nav">
            <li class=" nav-vision {% if page.url == '/vision/' %} current {% endif %}">
              <a href="/vision/">Vision</a>
            </li>
            <li class=" nav-initiatives {% if page.url == '/initiatives/' %} current {% endif %}">
              <a href="/initiatives/">Initiatives</a>
            </li>
            <li class=" nav-about {% if page.url == '/about/' %} current {% endif %}">
              <a href="/about/">About</a>
            </li>
            <li class=" nav-la2050 {% if page.url == '/la2050/' %} current {% endif %}">
              <a href="/la2050/">LA2050</a>
            </li>
            <li class=" nav-resources {% if page.url == '/resources/' %} current {% endif %}">
              <a href="/resources/">Resources</a>
            </li>
            <li class=" nav-jobs {% if page.url == '/jobs/' %} current {% endif %}">
              <a href="/jobs/">Jobs</a>
            </li>
            <li class=" nav-blog {% if page.url == '/blog/' %} current {% endif %}">
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row footer-social-container">
        <div class="span12 footer-social">
          <ul>
            <li>
              <a class="footer-social-button footer-facebook" href="https://www.facebook.com/GoldhirshFoundation"></a>
            </li>
            <li>
              <a class="footer-social-button footer-twitter" href="https://twitter.com/goldhirshfndtn"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="/assets/js/libs/jquery-1.8.0.min.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38923310-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
  </script>

  {% comment %}
  <script type="text/javascript">
  setTimeout(function() {
    var a = document.createElement("script");
    var b = document.getElementsByTagName("script")[0];
    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/1793.js?" + Math.floor(new Date().getTime() / 3600000);
    a.async = true;
    a.type = "text/javascript";
    b.parentNode.insertBefore(a, b)
  }, 1);
  </script>
  {% endcomment %}
</body>

</html>
