<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}{% unless page.title contains "Goldhirsh Foundation" %}, Goldhirsh Foundation {% endunless %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% comment %}
  <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/a3879324-0676-4a49-a21e-a021934d1a6a.css" />
  {% endcomment %}

  <!-- TEMPORARY: Jim’s Typekit account -->
  <link rel="stylesheet" href="https://use.typekit.net/hja0dgt.css">

  <link href="/assets/css/bootstrap_custom.min.css" rel="stylesheet">
  <link href="/assets/css/ghf.css?v={{ site.version }}" rel="stylesheet">
  <link href="/assets/css/ghf-overrides.css?v={{ site.version }}" rel="stylesheet">

  {% if page.stylesheets %}
    {% assign stylesheets = page.stylesheets %}
  {% elsif layout.stylesheets %}
    {% assign stylesheets = layout.stylesheets %}
  {% endif %}
  {% for url in stylesheets %}
  <link rel="stylesheet" href="{{ url }}?v={{ site.version }}" />
  {% endfor %}

  <!-- for general use -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  {% comment %}
  <link rel="icon" type="image/png"    href="/assets/images/favicon.png" />
  {% endcomment %}

  <!-- for iOS -->
  <link rel="apple-touch-icon"         href="/assets/img/logotype-square.png" />

  <!-- for Windows 8 -->
  <meta name="msapplication-TileImage" content="/assets/img/logotype-square.png" />
  <meta name="msapplication-TileColor" content="rgb(49, 176, 71)" />

  <meta name="google-site-verification" content="OQbPN7vmr5v69iC3FhivQ0A9CFdLojFYziRCCnHoqLg" />

  {% capture canonical_url %}http://goldhirshfoundation.org{% if page.canonical_url %}{{ page.canonical_url }}{% else %}{{ page.url }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta property="og:url" content="{{ canonical_url }}" />

  {% if layout.use_default_meta_description == true %}
    {% assign description = site.description %}
  {% endif %}
  {% if description and description != '' %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
  {% endif %}

  <meta name="keywords" content="foundation, innovation, innovator, sustainability, activation, opportunity, goldhirsh">

  {% if site.image %}
  <meta property="og:image" content="{{ site.image }}" />
  {% endif %}

  {% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
  {% endif %}

  {% comment %}Open Graph: http://ogp.me{% endcomment %}
  <meta property="og:type" content="website" />

  {% comment %}Twitter Card: https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started{% endcomment %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@GoldhirshFdn" />

</head>

<body class="page-{{ page.url | replace: '/', '' }}{% if page.url == '/' %}home{% endif %}">
  <div class="wrap">
    <div id="main" class="container">

      <div class="row">
        <div class="span12 nav-container">
          <div id="mobile-logo" class="hidden">
            <a href="/"><img src="/assets/img/ghf-logo-dark@x2.png" alt="GOLDHIRSH FOUNDATION" id="ghf-logo-mobile"></a>
          </div>

          <ul id="nav">
            <li class="nav-home">
              <a href="/">
                <img src="/assets/img/ghf-logo-{% if page.url == '/' %}light{% else %}dark{% endif %}@x2.png" alt="GOLDHIRSH FOUNDATION" id="ghf-logo">
              </a>
            </li>
            <li class=" nav-vision {% if page.url == '/vision/' %} current {% endif %}">
              <a href="/vision/">Vision</a>
            </li>
            <li class=" nav-initiatives {% if page.url == '/initiatives/' %} current {% endif %}">
              <a href="/initiatives/">Initiatives</a>
            </li>
            <li class=" nav-about {% if page.url == '/about/' %} current {% endif %}">
              <a href="/about/">About</a>
            </li>
            <li class=" nav-la2050 {% if page.url == '/la2050/' %} current {% endif %}">
              <a href="/la2050/">LA2050</a>
            </li>
            <li class=" nav-resources {% if page.url == '/resources/' %} current {% endif %}">
              <a href="/resources/">Resources</a>
            </li>
            <li class=" nav-jobs {% if page.url == '/jobs/' %} current {% endif %}">
              <a href="/jobs/">Jobs</a>
            </li>
            <li class=" nav-blog {% if page.url contains '/blog/' %} current {% endif %}">
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </div>

      {{ content }}

    </div>
    <!-- /container -->
    <div class="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="row footer-container">
        <div class="span4 footer-contact">
          <p class="footer-mark">THE GOLDHIRSH FOUNDATION</p>
          <p class="footer-address">6380 WILSHIRE BOULEVARD, 15TH FLOOR, LOS ANGELES, CA 90048</p>
        </div>
        <div class="span8 footer-nav">
          <ul id="footer-nav">
            <li class=" nav-vision {% if page.url == '/vision/' %} current {% endif %}">
              <a href="/vision/">Vision</a>
            </li>
            <li class=" nav-initiatives {% if page.url == '/initiatives/' %} current {% endif %}">
              <a href="/initiatives/">Initiatives</a>
            </li>
            <li class=" nav-about {% if page.url == '/about/' %} current {% endif %}">
              <a href="/about/">About</a>
            </li>
            <li class=" nav-la2050 {% if page.url == '/la2050/' %} current {% endif %}">
              <a href="/la2050/">LA2050</a>
            </li>
            <li class=" nav-resources {% if page.url == '/resources/' %} current {% endif %}">
              <a href="/resources/">Resources</a>
            </li>
            <li class=" nav-jobs {% if page.url == '/jobs/' %} current {% endif %}">
              <a href="/jobs/">Jobs</a>
            </li>
            <li class=" nav-blog {% if page.url == '/blog/' %} current {% endif %}">
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row footer-social-container">
        <div class="span12 footer-social">
          <ul>
            <li>
              <a class="footer-social-button footer-facebook" href="https://www.facebook.com/GoldhirshFoundation"></a>
            </li>
            <li>
              <a class="footer-social-button footer-twitter" href="https://twitter.com/goldhirshfndtn"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="/assets/js/libs/jquery-1.8.0.min.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38923310-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
  </script>

  {% comment %}
  <script type="text/javascript">
  setTimeout(function() {
    var a = document.createElement("script");
    var b = document.getElementsByTagName("script")[0];
    a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/1793.js?" + Math.floor(new Date().getTime() / 3600000);
    a.async = true;
    a.type = "text/javascript";
    b.parentNode.insertBefore(a, b)
  }, 1);
  </script>
  {% endcomment %}
</body>

</html>
