<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The Goldhirsh Foundation connects the dots between the best emerging innovations and the financial, social, and human capital to make them thrive.">
<meta name="keywords" content="foundation, innovation, innovator, sustainability, activation, opportunity, goldhirsh">

<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/a3879324-0676-4a49-a21e-a021934d1a6a.css"/>

<link href="/assets/css/bootstrap_custom.min.css" rel="stylesheet">
<link href="/assets/css/ghf.css" rel="stylesheet">
<!--[if lt IE 9]>
<link href="/assets/css/ie.css" rel="stylesheet">
<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="/assets/ico/favicon.ico">

<meta name="google-site-verification" content="OQbPN7vmr5v69iC3FhivQ0A9CFdLojFYziRCCnHoqLg" />

</head>

<body class="page-la2050">
<div class="wrap">
<div id="main" class="container">
	<div class="row">
		<div class="span12 nav-container">
			
<div id="mobile-logo" class="hidden">
		<a href="/"><img src="/assets/img/ghf-logo-dark@x2.png" alt="GOLDHIRSH FOUNDATION" id="ghf-logo-mobile"></a>
	</div>
<ul id="nav">
<li class="nav-home">
<a href="/"><img src="/assets/img/ghf-logo-dark@x2.png" alt="GOLDHIRSH FOUNDATION" id="ghf-logo"></a>
</li>
<li class=" nav-vision"> 
<a href="/vision/">Vision</a> 
</li>
<li class=" nav-initiatives"> 
<a href="/initiatives/">Initiatives</a> 
</li>
<li class=" nav-about"> 
<a href="/about/">About</a> 
</li>
<li class="current nav-la2050"> 
<a href="/la2050/">LA2050</a> 
</li>
<li class=" nav-resources"> 
<a href="/resources/">Resources</a> 
</li>
<li class=" nav-jobs"> 
<a href="/jobs/">Jobs</a> 
</li>
<li class=" nav-blog"> 
<a href="/blog/">Blog</a> 
</li>
</ul>
		</div>
	</div>

<div class="row">
	<div class="span12">
		<h1 class="title"><a href="http://www.la2050.org">LA2050</a></h1>
	</div>
</div>
<div class="row">
	<div class="span12 initiatives-feature">
		<div class="initiatives-feature-graphic">
			<img src="/assets/img/la-2050@x2.png" alt="LA 2050">
		</div>
		{{ content }}
	</div>
</div>
<div class="row">
	<div class="span12 la2050-rule">
		<hr>
	</div>
</div>

<div class="row">
	<div class="span12 la2050-social">
		<div class="row">
			<div class="span6 la2050-social-title">
				<p>LA2050: JOIN THE CONVERSATION</p>
			</div>
			<div class="span6 la2050-social-buttons">
				<ul>
					<li>
						<a href="https://www.facebook.com/LA2050" class="social-button social-facebook"></a>
					</li>
					<li>
						<a href="https://twitter.com/la2050" class="social-button social-twitter"></a>
					</li>
					<li>
						<a href="http://pinterest.com/la2050/" class="social-button social-pinterest"></a>
					</li>
					<li>
						<a href="http://instagram.com/la2050/" class="social-button social-instagram"></a>
					</li>
					<li>
						<a href="https://plus.google.com/112887320204404270954/posts" class="social-button social-googleplus"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

<!-- /container -->
<div class="push"></div>
</div>

<div id="footer">
<div class="container">
	<div class="row footer-container">
		<div class="span4 footer-contact">
			<p class="footer-mark">THE GOLDHIRSH FOUNDATION</p>
			<p class="footer-address">6380 WILSHIRE BOULEVARD, 15TH FLOOR, LOS ANGELES, CA 90048</p>
		</div>
		<div class="span8 footer-nav">
			<ul id="footer-nav">
				<li> 
					<a href="/vision/" class="">Vision</a> 
				</li>
				<li> 
					<a href="/initiatives/" class="">Initiatives</a> 
				</li>
				<li> 
					<a href="/about/" class="">About</a> 
				</li>
				<li> 
					<a href="/la2050/" class="current">LA2050</a> 
				</li>
				<li> 
					<a href="/resources/" class="">Resources</a> 
				</li>
				<li> 
					<a href="/jobs/" class="">Jobs</a> 
				</li>
				<li> 
					<a href="/blog/" class="">Blog</a> 
				</li>
			</ul>
		</div>
	</div>
	<div class="row footer-social-container">
		<div class="span12 footer-social">
			<ul>
				<li> 
					<a class="footer-social-button footer-facebook" href="https://www.facebook.com/GoldhirshFoundation"></a>
				</li>
				<li>
					<a class="footer-social-button footer-twitter" href="https://twitter.com/goldhirshfndtn"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>

<script src="/assets/js/libs/jquery-1.8.0.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38923310-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
		<script type="text/javascript">
			setTimeout(function(){var a=document.createElement("script");
			var b=document.getElementsByTagName("script")[0];
			a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/1793.js?"+Math.floor(new Date().getTime()/3600000);
			a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
		</script>
	</body>
</html>