---
layout: default
---

<div class="row">
  <div class="span12">
    <h1 class="title"><a href="http://www.la2050.org">{{ page.title }}</a></h1>
  </div>
</div>
<div class="row">
  <div class="span12 initiatives-feature">
    <div class="initiatives-feature-graphic">
      <img src="/assets/img/la-2050@x2.png" alt="LA 2050">
    </div>
    {{ content }}
  </div>
</div>
<div class="row">
  <div class="span12 la2050-rule">
    <hr>
  </div>
</div>
<div class="row">
  <div class="span12 la2050-social">
    <div class="row">
      <div class="span6 la2050-social-title">
        <p>LA2050: JOIN THE CONVERSATION</p>
      </div>
      <div class="span6 la2050-social-buttons">
        <ul>
          <li>
            <a href="https://www.facebook.com/LA2050" class="social-button social-facebook"></a>
          </li>
          <li>
            <a href="https://twitter.com/la2050" class="social-button social-twitter"></a>
          </li>
          <li>
            <a href="http://pinterest.com/la2050/" class="social-button social-pinterest"></a>
          </li>
          <li>
            <a href="http://instagram.com/la2050/" class="social-button social-instagram"></a>
          </li>
          <li>
            <a href="https://plus.google.com/112887320204404270954/posts" class="social-button social-googleplus"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
